.td-cabecalho-table-equipes{
    display: flex;
}

.itens-table-equipes {
    width: 50% !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.itens-table-equipes:hover {
    text-decoration: underline !important;
}


#nome_user_perfil{
    text-decoration: none;
    color:black;
}

#nome_user_perfil:hover{
    cursor:pointer;
    text-decoration: underline;
}


.itens-perfil-user{
    display:flex;
    flex-direction: row;
    margin-bottom: 15px;
}

@media (min-width: 400px) {
    .itens-perfil-user {
        flex-direction: column;
    }
}

@media (min-width: 1400px) {
    .itens-perfil-user {
        flex-direction: row;
    }

    .itens-perfil-user-itemA{
        width:35%;
    }

    .itens-perfil-user-itemB {
        width: 65%;
        margin-left:50px;
    }
}